@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  font-family: "Nunito", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
main {
  width: 300px;
  height: max-content;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 30px 50px #5553;
  padding: 30px;
  box-sizing: border-box;
}

main form {
  border: 1px solid #5553;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
main form input,
main form button {
  border: none;
  background: transparent;
  outline: none;
  padding: 10px;
}
button {
  cursor: pointer;
}
main form input::placeholder {
  color: #ccc;
  letter-spacing: 0px;
}
main form i {
  opacity: 0.7;
}
main .result {
  padding-top: 20px;
  text-align: center;
}
main .result .name {
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main .temperature img {
  width: 150px;
  filter: drop-shadow(0 10px 50px #343434);
}
main .temperature figcaption {
  font-size: 3em;
}
main .description {
  padding: 10px 0 30px;
}
main ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
main li {
  background-color: #f7f7f7;
  color: #000;
  border-radius: 10px;
  padding: 20px 10px;
  font-weight: bold;
  font-size: small;
  filter: drop-shadow(0 10px 50px #ccc);
  border: 1px solid #5553;
}
main li i {
  font-size: 2em;
  display: block !important;
  margin: 20px 0;
  opacity: 0.7;
}
main.error {
  animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect {
  0% {
    transform: translate(10px, 5px);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(8px, 2px);
  }
  75% {
    transform: translate(-2px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.creator {
  margin-top: 10%;
  font-size: 10px;
  color: #343434;
}
.creator span {
  color: #000;
  font-weight: bold;
}
